<ul class="nav nav-sidebar">
  <li id="account"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
  <li id="history"><a href="#/history">Tab History</a></li>
  <li id="tabs"><a href="#/tabs/new">Create New Tab</a></li>
  <li id="payment"><a href="#payment">Make Payment</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li id="modal"><a href="#">Modal</a></li>
  <li><a href="">Nav item again</a></li>
  <li><a href="">One more nav</a></li>
  <li><a href="">Another nav item</a></li>
  <li><a id="venmo" class="venmo-pay-button" data-recipient-id="1366807004839936586" data-amount=""></a></li>
</ul>
