<ul class="nav nav-sidebar">
  <li id="account"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
  <li id=""><a href="#/tabs">Tab History</a></li>
  <li id="tabs"><a href="#/tabs/new">Create New Tab</a></li>
  <li id="payment"><a href="#payment">Make Payment</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li id="export"><a href="#">Export</a></li>
  <li><a href="">Nav item again</a></li>
  <li><a href="">One more nav</a></li>
  <li><a href="">Another nav item</a></li>
  <li><a href="">More navigation</a></li>
</ul>
