<div class="tab-heading" data-tab-id="<%= tab.id %>">
  <h1 class="page-header"><%= tab.escape('title') %> <span class="glyphicon glyphicon-pencil"></span></h1>
</div>

<a href="#/tabs/<%= tab.id %>/edit">Edit Tab</a>
<br>
<br>
<button id="delete-tab">Delete Tab</button>
