<h1 class="page-header">Account Overview</h1>
<div class="row">
  <div class="col-md-2">
    <img id="profile-pic" src="<%= CURRENT_USER.gravatar_url %>">

    <!-- <% var balance = parseFloat(Math.round(user.escape('account_balance') * 100) / 100).toFixed(2) %> -->
  </div>
  <div class="col-md-2">
    <h3>Amount Owed:</h3>
    <h4 id="account-amount-owed">$<%= amountOwed.toFixed(2) %></h4>
  </div>
  <div class="col-md-2">
    <h3>Amount to Pay:</h3>
    <h4 id="account-amount-to-pay">$<%= amountToPay.toFixed(2) %></h4>
  </div>
  <div class="col-md-2 search">
  </div>
  <div class="col-mg-4">
  </div>
</div>
<h2 class="sub-header">Activity</h2>
<div id="latest-activity"></div>
