<h1 class="page-header">Overview</h1>
<div class="row">
  <div class="col-lg-1">
    <img src="<%= CURRENT_USER.gravatar_url %>">

    <!-- <% var balance = parseFloat(Math.round(user.escape('account_balance') * 100) / 100).toFixed(2) %> -->
  </div>
  <div class="col-lg-2">
    <h3>Amount Owed:</h3>
    <h4 id="account-amount-owed">$0.00</h4>
  </div>
  <div class="col-lg-2">
    <h3>Amount to Pay:</h3>
    <h4 id="account-amount-to-pay">$0.00</h4>
  </div>
  <div class="col-lg-2 search">
  </div>
  <div class="col-lg-5">
  </div>
</div>
<div id="latest-activity"></div>
