<h1 class="page-header">Overview</h1>
<img src="http://www.gravatar.com/avatar/xxxba8e02d022321ce391439cf71676c24c">
<% var balance = parseFloat(Math.round(user.escape('account_balance') * 100) / 100).toFixed(2) %>
<h3>Account Balance:</h3>
<h4 id="account-balance">$<%= balance %></h4>
<div id="latest-activity"></div>
