<h1>Sign Up</h1>

<form>
  <label for="user_email">Email: </label>
  <input type="text" name="user[email]" id="user_email">
  <br>
  <label for="user_password">Password: </label>
  <input type="password" name="user[password]" id="user_password">
  <br>
  <input type="submit" value="Sign Up">
</form>
