<% friends.each(function (friend) { %>
  <li class="friend-item list-group-item" data-id="<%= friend.id %>"><span data-icon-id="<%= friend.id %>" class="glyphicon glyphicon-plus"></span> <%= friend.escape('email') %></li>
<% }); %>
