<% var id = user.get('id') %>

<li class="search-items list-group-item" data-id="<%= id %>"><span data-icon-id="<%= id %>" class="glyphicon glyphicon-unchecked"></span> <%= user.escape('email') %></li>
