<h4>Add Friends</h4>
<input type="text" id="search-field">

<div id="search-results"></div>

<ul>
  <% users.each(function (user) { %>
    <% if (user.get('id') !== CURRENT_USER.id) { %>
      <li class="search-items" data-id="<%= user.escape('id') %>"><%= user.escape('email') %></li>
    <% } %>
  <% }); %>
</ul>
