<h4>Add Friends</h4>
<input type="text" class="form-control" id="search-field" placeholder="Search...">
<div class="container">
  <div class="row">
    <div style="padding-left:0" class="col-xs-3">
      <div id="search-results">
        <ul class="list-group checked-list-box" id="search-item-field">
        </ul>
      </div>
    </div>
  </div>
</div>
